.idea/.gitignore
.idea/compiler.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/modules.xml
.idea/valuepick.iml
.idea/vcs.xml
valuepick/gradlew
valuepick/gradlew.bat
valuepick/.gradle/file-system.probe
valuepick/.gradle/9.3.0/gc.properties
valuepick/.gradle/9.3.0/checksums/checksums.lock
valuepick/.gradle/9.3.0/executionHistory/executionHistory.bin
valuepick/.gradle/9.3.0/executionHistory/executionHistory.lock
valuepick/.gradle/9.3.0/fileChanges/last-build.bin
valuepick/.gradle/9.3.0/fileHashes/fileHashes.bin
valuepick/.gradle/9.3.0/fileHashes/fileHashes.lock
valuepick/.gradle/buildOutputCleanup/buildOutputCleanup.lock
valuepick/.gradle/buildOutputCleanup/cache.properties
valuepick/.gradle/buildOutputCleanup/outputFiles.bin
valuepick/.gradle/vcs-1/gc.properties
valuepick/.idea/.gitignore
valuepick/.idea/compiler.xml
valuepick/.idea/gradle.xml
valuepick/.idea/misc.xml
valuepick/.idea/vcs.xml
valuepick/gradle/wrapper/gradle-wrapper.jar
valuepick/gradle/wrapper/gradle-wrapper.properties
